# python cache
**/*.pyc
**/__pycache__/

# pyenv config
.python-version

# virtual envs
env/
venv/

# pytest
.coverage
.pytest_cache

# macos
.DS_Store

# vscode settings
.vscode/

# local files
local/
**/metadata/local.meta
logs/

# build files
dist/
build/
**/*.tar.gz
**/*.tgz
